{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Lista de Productos - Librería LMG</title>
  
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body> 
  <nav class="light orange lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Librería LMG</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Salir</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link></a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  
  <div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                
                <td>Nombre</td>
                <td>Tipo</td>
                <td>Descripcion</td>
                <td>Precio</td>
                <td>Cantidad</td>
                <td>Código</td>
                <td>Acciones</td>
            </tr>
        </thead>
        <tbody>
            {% if productos %}
            {% for producto in productos %}
            <tr>
                
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.tipo }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>$ {{ producto.precio }}</td>
                <td>{{ producto.cantidad }}</td>
                <td>{{ producto.codigo }}</td>
                <td>
                  <a class="btn waves-effect waves-light orange" href="{% url 'producto:producto_editar' producto.id %}">Editar</a>
                  <a class="btn waves-effect waves-light red" href="{% url 'producto:producto_eliminar' producto.id %}">Eliminar</a>
                
                
                </td>
            </tr>
    
            {% endfor %}
    
            {% else %}
    
            <h1>No existen registros</h1>
    
            {% endif %}
        </tbody>
    </table>
   
  </div>

  <footer class="page-footer orange">
    <div class="footer-copyright">
      <div class="container">
       <a class="orange-text text-lighten-3" href="">Librería LMG</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="% static 'js/materialize.js' %"></script>
  <script src="% static 'js/init.js' %"></script>

  </body>
</html>
